참고자료/make용.json
{
    "name": "Social media video generator",
    "flow": [
        {
            "id": 16,
            "module": "airtable:ActionSearchRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2912913
            },
            "mapper": {
                "base": "apppaZ6aaQM5pNQny",
                "table": "tblM6ltcHfeKVOa8q",
                "fields": [
                    "title",
                    "topic",
                    "language",
                    "voice",
                    "Status",
                    "videoURL",
                    "modified_at"
                ],
                "formula": "{Status}='Todo'",
                "maxRecords": "1",
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "mode": "chose",
                            "label": "AI News video generator"
                        },
                        "sort": {
                            "mode": "chose"
                        },
                        "view": {
                            "mode": "chose"
                        },
                        "table": {
                            "mode": "chose",
                            "label": "Videos"
                        },
                        "fields": {
                            "mode": "chose",
                            "label": [
                                "title",
                                "topic",
                                "language",
                                "voice",
                                "Status",
                                "videoURL",
                                "modified_at"
                            ]
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "News Video Generator Token"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "formula",
                        "type": "text",
                        "label": "Formula"
                    },
                    {
                        "name": "maxRecords",
                        "type": "integer",
                        "label": "Limit"
                    },
                    {
                        "name": "sort",
                        "spec": [
                            {
                                "name": "field",
                                "type": "select",
                                "label": "Field",
                                "dynamic": true,
                                "options": []
                            },
                            {
                                "name": "direction",
                                "type": "select",
                                "label": "Direction",
                                "options": [
                                    {
                                        "label": "Descending",
                                        "value": "desc"
                                    },
                                    {
                                        "label": "Ascending",
                                        "value": "asc"
                                    }
                                ]
                            }
                        ],
                        "type": "array",
                        "label": "Sort"
                    },
                    {
                        "name": "view",
                        "type": "select",
                        "label": "View"
                    },
                    {
                        "name": "fields",
                        "type": "select",
                        "label": "Output Fields",
                        "multiple": true
                    }
                ],
                "interface": [
                    {
                        "name": "__IMTLENGTH__",
                        "type": "uinteger",
                        "label": "Total number of bundles"
                    },
                    {
                        "name": "__IMTINDEX__",
                        "type": "uinteger",
                        "label": "Bundle order position"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "title"
                    },
                    {
                        "name": "topic",
                        "type": "text",
                        "label": "topic",
                        "multiline": true
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "language"
                    },
                    {
                        "name": "voice",
                        "type": "text",
                        "label": "voice"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "videoURL",
                        "type": "text",
                        "label": "videoURL"
                    },
                    {
                        "name": "modified_at",
                        "type": "date",
                        "label": "modified_at"
                    }
                ]
            }
        },
        {
            "id": 18,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2912913
            },
            "filter": {
                "name": "Only videos marked as \"to do\"",
                "conditions": [
                    [
                        {
                            "a": "{{16.Status}}",
                            "b": "Todo",
                            "o": "text:equal"
                        }
                    ]
                ]
            },
            "mapper": {
                "id": "{{16.id}}",
                "base": "apppaZ6aaQM5pNQny",
                "table": "tblM6ltcHfeKVOa8q",
                "record": {
                    "fld9GSGWu05Huimb7": "In progress"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "AI News video generator"
                        },
                        "table": {
                            "label": "Videos"
                        },
                        "record": {
                            "nested": {
                                "fld9GSGWu05Huimb7": {
                                    "mode": "edit"
                                },
                                "fldHsflNn1Waosv2S": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "News Video Generator Token"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldGDzy8hXT3g99y2",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "fld5GJYSAS5f2Ye50",
                                "type": "text",
                                "label": "topic"
                            },
                            {
                                "name": "fldQpVmwgRPdIgv3g",
                                "type": "text",
                                "label": "language"
                            },
                            {
                                "mode": "edit",
                                "name": "fldHsflNn1Waosv2S",
                                "type": "select",
                                "label": "voice"
                            },
                            {
                                "mode": "edit",
                                "name": "fld9GSGWu05Huimb7",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "flda9LnKXoKZs2ZLt",
                                "type": "text",
                                "label": "videoURL"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "title"
                    },
                    {
                        "name": "topic",
                        "type": "text",
                        "label": "topic",
                        "multiline": true
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "language"
                    },
                    {
                        "name": "voice",
                        "type": "text",
                        "label": "voice"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "videoURL",
                        "type": "text",
                        "label": "videoURL"
                    },
                    {
                        "name": "modified_at",
                        "type": "date",
                        "label": "modified_at"
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "openai-gpt-3:CreateCompletion",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2672623
            },
            "mapper": {
                "select": "chat",
                "temperature": "1",
                "top_p": "1",
                "n_completions": "1",
                "model": "gpt-4o",
                "max_tokens": "2048",
                "messages": [
                    {
                        "role": "system",
                        "content": "Create a script of a social media video about the topic included below.\n\nThe video will be organized in scenes. Each scene has a voice over and an image.\nThe voice over text must be at least 20 words.\nThere should be not more than 4 scenes.\nYour response must be in JSON format following this schema:\n{\n   \"scenes\": [{\n      \"voiceOverText\": \"\",\n      \"imagePrompt\": \"\"\n    }]\n}\n\nThe image prompt must be written in ENGLISH, being detailed and photo realistic. In the image prompt, you MUST AVOID describing any situation in the image that can be considered unappropriate (violence, disgusting, gore, sex, nudity, NSFW, etc) as it may be rejected by the AI service.\n\nThe voiceOverText must be in {{16.language}}.\n\nThe topic of the video is:"
                    },
                    {
                        "role": "user",
                        "content": "{{16.topic}}",
                        "imageDetail": "auto"
                    }
                ],
                "response_format": "json_object",
                "parseJSONResponse": true
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "My OpenAI connection",
                            "data": {
                                "scoped": "true",
                                "connection": "openai-gpt-3"
                            }
                        }
                    },
                    "expect": {
                        "select": {
                            "label": "Create a Chat Completion (GPT and o1 models)"
                        },
                        "logit_bias": {
                            "mode": "chose"
                        },
                        "stop": {
                            "mode": "chose"
                        },
                        "additionalParameters": {
                            "mode": "chose"
                        },
                        "model": {
                            "mode": "chose",
                            "label": "gpt-4o (system)"
                        },
                        "messages": {
                            "mode": "chose",
                            "items": [
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "Developer / System"
                                    }
                                },
                                {
                                    "role": {
                                        "mode": "chose",
                                        "label": "User"
                                    },
                                    "imageInputType": {
                                        "mode": "chose",
                                        "label": "Empty"
                                    },
                                    "imageDetail": {
                                        "mode": "chose",
                                        "label": "Auto"
                                    }
                                }
                            ]
                        },
                        "response_format": {
                            "mode": "chose",
                            "label": "JSON Object"
                        },
                        "parseJSONResponse": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:openai-gpt-3",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "select",
                        "type": "select",
                        "label": "Select Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "chat",
                                "prompt"
                            ]
                        }
                    },
                    {
                        "name": "temperature",
                        "type": "number",
                        "label": "Temperature",
                        "validate": {
                            "max": 2,
                            "min": 0
                        }
                    },
                    {
                        "name": "top_p",
                        "type": "number",
                        "label": "Top P",
                        "validate": {
                            "max": 1,
                            "min": 0
                        }
                    },
                    {
                        "name": "n_completions",
                        "type": "number",
                        "label": "Number"
                    },
                    {
                        "name": "frequency_penalty",
                        "type": "number",
                        "label": "Frequency Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "presence_penalty",
                        "type": "number",
                        "label": "Presence Penalty",
                        "validate": {
                            "max": 2,
                            "min": -2
                        }
                    },
                    {
                        "name": "logit_bias",
                        "type": "array",
                        "label": "Token Probability",
                        "spec": {
                            "spec": [
                                {
                                    "name": "token",
                                    "type": "text",
                                    "label": "Token ID",
                                    "required": true
                                },
                                {
                                    "name": "probability",
                                    "type": "number",
                                    "label": "Probability",
                                    "required": true,
                                    "validate": {
                                        "max": 100,
                                        "min": -100
                                    }
                                }
                            ],
                            "type": "collection",
                            "label": "Token Probability",
                            "name": "value"
                        }
                    },
                    {
                        "name": "seed",
                        "type": "integer",
                        "label": "Seed"
                    },
                    {
                        "name": "stop",
                        "type": "array",
                        "label": "Stop Sequences",
                        "validate": {
                            "maxItems": 4
                        },
                        "spec": {
                            "type": "text",
                            "label": "Stop Sequence",
                            "name": "value"
                        }
                    },
                    {
                        "name": "additionalParameters",
                        "type": "array",
                        "label": "Other Input Parameters",
                        "spec": {
                            "spec": [
                                {
                                    "name": "key",
                                    "type": "text",
                                    "label": "Parameter Name",
                                    "required": true
                                },
                                {
                                    "name": "type",
                                    "type": "select",
                                    "label": "Input Type",
                                    "options": [
                                        {
                                            "label": "Text",
                                            "value": "text",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "text",
                                                    "label": "Parameter Value"
                                                }
                                            ],
                                            "default": true
                                        },
                                        {
                                            "label": "Number",
                                            "value": "number",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "number",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Boolean",
                                            "value": "boolean",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "boolean",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Date",
                                            "value": "date",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "date",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        },
                                        {
                                            "label": "Any",
                                            "value": "any",
                                            "nested": [
                                                {
                                                    "name": "value",
                                                    "type": "any",
                                                    "label": "Parameter Value"
                                                }
                                            ]
                                        }
                                    ]
                                }
                            ],
                            "type": "collection",
                            "label": "Input Parameter",
                            "name": "value"
                        }
                    },
                    {
                        "name": "model",
                        "type": "select",
                        "label": "Model",
                        "required": true
                    },
                    {
                        "name": "max_tokens",
                        "type": "uinteger",
                        "label": "Max Completion Tokens"
                    },
                    {
                        "name": "messages",
                        "type": "array",
                        "label": "Messages",
                        "required": true,
                        "spec": {
                            "label": "Message",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "role",
                                    "type": "select",
                                    "label": "Role",
                                    "required": true,
                                    "options": {
                                        "store": [
                                            {
                                                "label": "Developer / System",
                                                "value": "system",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "User",
                                                "value": "user",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    },
                                                    {
                                                        "name": "imageInputType",
                                                        "type": "select",
                                                        "label": "Image Input Type",
                                                        "mappable": false,
                                                        "options": [
                                                            {
                                                                "value": "url",
                                                                "label": "URL",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageUrl",
                                                                        "label": "Image URL",
                                                                        "type": "url",
                                                                        "help": "Make sure to use a publicly accessible URL.\nYou can test if your image is publicly accessible by opening the link in an incognito tab."
                                                                    }
                                                                ]
                                                            },
                                                            {
                                                                "value": "file",
                                                                "label": "Image File",
                                                                "nested": [
                                                                    {
                                                                        "name": "imageFile",
                                                                        "label": "Image",
                                                                        "type": "collection",
                                                                        "spec": [
                                                                            {
                                                                                "name": "imageFilename",
                                                                                "type": "filename",
                                                                                "label": "Image Filename",
                                                                                "semantic": "file:name",
                                                                                "extension": [
                                                                                    "jpg",
                                                                                    "jpeg",
                                                                                    "png",
                                                                                    "webp",
                                                                                    "gif"
                                                                                ],
                                                                                "help": "Accepted extensions: `.jpg`, `.jpeg`, `.png`, `.webp` and `.gif`."
                                                                            },
                                                                            {
                                                                                "name": "imageData",
                                                                                "type": "buffer",
                                                                                "label": "Image Data",
                                                                                "semantic": "file:data"
                                                                            }
                                                                        ]
                                                                    }
                                                                ]
                                                            }
                                                        ]
                                                    },
                                                    {
                                                        "name": "imageDetail",
                                                        "type": "select",
                                                        "label": "Image Detail",
                                                        "advanced": true,
                                                        "options": [
                                                            {
                                                                "value": "auto",
                                                                "default": true,
                                                                "label": "Auto"
                                                            },
                                                            {
                                                                "value": "high",
                                                                "label": "High"
                                                            },
                                                            {
                                                                "value": "low",
                                                                "label": "Low"
                                                            }
                                                        ]
                                                    }
                                                ]
                                            },
                                            {
                                                "label": "Assistant",
                                                "value": "assistant",
                                                "nested": [
                                                    {
                                                        "help": "Text content of the message on behalf of the selected __Role__.",
                                                        "name": "content",
                                                        "type": "text",
                                                        "label": "Text Content"
                                                    }
                                                ]
                                            }
                                        ]
                                    }
                                }
                            ],
                            "name": "value"
                        }
                    },
                    {
                        "name": "response_format",
                        "type": "select",
                        "label": "Response Format",
                        "validate": {
                            "enum": [
                                "text",
                                "json_object"
                            ]
                        }
                    },
                    {
                        "name": "parseJSONResponse",
                        "type": "boolean",
                        "label": "Parse JSON Response",
                        "required": true
                    }
                ],
                "interface": [
                    {
                        "name": "result",
                        "type": "any",
                        "label": "Result"
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "object",
                        "type": "text",
                        "label": "Object"
                    },
                    {
                        "name": "created",
                        "type": "date",
                        "label": "Created"
                    },
                    {
                        "name": "model",
                        "type": "text",
                        "label": "Model"
                    },
                    {
                        "name": "choices",
                        "spec": {
                            "spec": [
                                {
                                    "name": "text",
                                    "type": "text",
                                    "label": "Text"
                                },
                                {
                                    "name": "index",
                                    "type": "number",
                                    "label": "Index"
                                },
                                {
                                    "name": "logprobs",
                                    "type": "text",
                                    "label": "Log Probs"
                                },
                                {
                                    "name": "finish_reason",
                                    "type": "text",
                                    "label": "Finish Reason"
                                },
                                {
                                    "name": "message",
                                    "spec": [
                                        {
                                            "name": "role",
                                            "type": "text",
                                            "label": "Role"
                                        },
                                        {
                                            "name": "content",
                                            "type": "text",
                                            "label": "Content"
                                        },
                                        {
                                            "name": "refusal",
                                            "type": "text",
                                            "label": "Refusal"
                                        }
                                    ],
                                    "type": "collection",
                                    "label": "Message"
                                }
                            ],
                            "type": "collection"
                        },
                        "type": "array",
                        "label": "Choices"
                    },
                    {
                        "name": "usage",
                        "spec": [
                            {
                                "name": "prompt_tokens",
                                "type": "number",
                                "label": "Prompt Tokens"
                            },
                            {
                                "name": "completion_tokens",
                                "type": "text",
                                "label": "Completion Tokens"
                            },
                            {
                                "name": "total_tokens",
                                "type": "number",
                                "label": "Total Tokens"
                            },
                            {
                                "name": "prompt_tokens_details",
                                "spec": [
                                    {
                                        "name": "cached_tokens",
                                        "type": "uinteger",
                                        "label": "Cached Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "image_tokens",
                                        "type": "uinteger",
                                        "label": "Image Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Prompt Tokens Details"
                            },
                            {
                                "name": "completion_tokens_details",
                                "spec": [
                                    {
                                        "name": "reasoning_tokens",
                                        "type": "uinteger",
                                        "label": "Reasoning Tokens"
                                    },
                                    {
                                        "name": "text_tokens",
                                        "type": "uinteger",
                                        "label": "Text Tokens"
                                    },
                                    {
                                        "name": "audio_tokens",
                                        "type": "uinteger",
                                        "label": "Audio Tokens"
                                    },
                                    {
                                        "name": "accepted_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Accepted Prediction Tokens"
                                    },
                                    {
                                        "name": "rejected_prediction_tokens",
                                        "type": "uinteger",
                                        "label": "Rejected Prediction Tokens"
                                    }
                                ],
                                "type": "collection",
                                "label": "Completion Tokens Details"
                            }
                        ],
                        "type": "collection",
                        "label": "Usage"
                    },
                    {
                        "name": "system_fingerprint",
                        "type": "text",
                        "label": "System Fingerprint"
                    }
                ],
                "advanced": true
            }
        },
        {
            "id": 22,
            "module": "app#json2video:toolbox",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2819825
            },
            "mapper": {
                "resolution": "instagram-story",
                "id": "6EHBQFYGPXHfMCMBsgPY",
                "scenes": "{{4.result.scenes}}",
                "voice": "{{16.voice}}",
                "imageModel": "freepik-classic",
                "voiceModel": "azure"
            },
            "metadata": {
                "designer": {
                    "x": 900,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "API DEV Conn (qcardona@gmail.com - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "app#json2video"
                            }
                        }
                    },
                    "expect": {
                        "resolution": {
                            "mode": "chose",
                            "label": "1080x1920 - Vertical"
                        },
                        "id": {
                            "mode": "chose",
                            "nested": [
                                {
                                    "help": null,
                                    "name": "scenes",
                                    "spec": [
                                        {
                                            "name": "imagePrompt",
                                            "label": "Image Prompt",
                                            "type": "text",
                                            "default": "A sunset at a beautiful beach"
                                        },
                                        {
                                            "name": "voiceOverText",
                                            "label": "Voice Over Text",
                                            "type": "text",
                                            "default": "The hills are alive with the sound of music, with songs they have sung for a thousand years. The hills fill my heart with the sound of music. My heart wants to sing every song it hears"
                                        },
                                        {
                                            "name": "overlaidText",
                                            "label": "Overlaid Text",
                                            "type": "text",
                                            "default": "The hills are alive with the sound of music"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Scenes",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": null,
                                    "name": "voice",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Voice",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": null,
                                    "name": "imageModel",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Image Model",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": null,
                                    "name": "voiceModel",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Voice Model",
                                    "options": null,
                                    "advanced": null,
                                    "required": null
                                },
                                {
                                    "help": "URL that will be called once the video has been created. This can be a Make.com webhook URL or any other URL",
                                    "name": "make_webhook_url",
                                    "spec": null,
                                    "type": "text",
                                    "label": "Webhook URL",
                                    "options": null,
                                    "advanced": true,
                                    "required": null
                                },
                                {
                                    "help": "This is a collection of key-value pairs that is passed to the webhook. You can use it to pass along data from this scenerio to the next scenario",
                                    "name": "client_data",
                                    "spec": [
                                        {
                                            "name": "key",
                                            "type": "text",
                                            "label": "Key"
                                        },
                                        {
                                            "name": "value",
                                            "type": "text",
                                            "label": "Value"
                                        }
                                    ],
                                    "type": "array",
                                    "label": "Client data",
                                    "options": null,
                                    "advanced": true,
                                    "required": null
                                }
                            ],
                            "label": "Social media reel (free)"
                        },
                        "scenes": {
                            "mode": "edit"
                        },
                        "client_data": {
                            "mode": "chose"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "resolution",
                        "type": "select",
                        "label": "Desired video resolution",
                        "validate": {
                            "enum": [
                                "full-hd",
                                "instagram-story",
                                "squared",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "id",
                        "type": "select",
                        "label": "Select a tool"
                    },
                    {
                        "name": "scenes",
                        "type": "array",
                        "label": "Scenes",
                        "spec": [
                            {
                                "name": "imagePrompt",
                                "label": "Image Prompt",
                                "type": "text"
                            },
                            {
                                "name": "voiceOverText",
                                "label": "Voice Over Text",
                                "type": "text"
                            },
                            {
                                "name": "overlaidText",
                                "label": "Overlaid Text",
                                "type": "text"
                            }
                        ]
                    },
                    {
                        "name": "voice",
                        "type": "text",
                        "label": "Voice"
                    },
                    {
                        "name": "imageModel",
                        "type": "text",
                        "label": "Image Model"
                    },
                    {
                        "name": "voiceModel",
                        "type": "text",
                        "label": "Voice Model"
                    },
                    {
                        "name": "make_webhook_url",
                        "type": "text",
                        "label": "Webhook URL"
                    },
                    {
                        "name": "client_data",
                        "type": "array",
                        "label": "Client data",
                        "spec": [
                            {
                                "name": "key",
                                "type": "text",
                                "label": "Key"
                            },
                            {
                                "name": "value",
                                "type": "text",
                                "label": "Value"
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 9,
            "module": "app#json2video:waitForAMovieToRender",
            "version": 1,
            "parameters": {
                "__IMTCONN__": 2819825
            },
            "mapper": {
                "project": "{{22.project}}"
            },
            "metadata": {
                "designer": {
                    "x": 1200,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "__IMTCONN__": {
                            "label": "API DEV Conn (qcardona@gmail.com - admin)",
                            "data": {
                                "scoped": "true",
                                "connection": "app#json2video"
                            }
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:app#json2video",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "project",
                        "type": "text",
                        "label": "Project ID",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 17,
            "module": "airtable:ActionUpdateRecords",
            "version": 3,
            "parameters": {
                "__IMTCONN__": 2912913
            },
            "mapper": {
                "id": "{{16.id}}",
                "base": "apppaZ6aaQM5pNQny",
                "table": "tblM6ltcHfeKVOa8q",
                "record": {
                    "fld9GSGWu05Huimb7": "Done",
                    "flda9LnKXoKZs2ZLt": "{{9.movie.url}}"
                },
                "typecast": false,
                "useColumnId": false
            },
            "metadata": {
                "designer": {
                    "x": 1500,
                    "y": 0
                },
                "restore": {
                    "expect": {
                        "base": {
                            "label": "AI News video generator"
                        },
                        "table": {
                            "label": "Videos"
                        },
                        "record": {
                            "nested": {
                                "fld9GSGWu05Huimb7": {
                                    "mode": "edit"
                                },
                                "fldHsflNn1Waosv2S": {
                                    "mode": "edit"
                                }
                            }
                        },
                        "typecast": {
                            "mode": "chose"
                        },
                        "useColumnId": {
                            "mode": "chose"
                        }
                    },
                    "parameters": {
                        "__IMTCONN__": {
                            "data": {
                                "scoped": "true",
                                "connection": "airtable2"
                            },
                            "label": "News Video Generator Token"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "__IMTCONN__",
                        "type": "account:airtable3,airtable2",
                        "label": "Connection",
                        "required": true
                    }
                ],
                "expect": [
                    {
                        "name": "base",
                        "type": "select",
                        "label": "Base",
                        "required": true
                    },
                    {
                        "name": "typecast",
                        "type": "boolean",
                        "label": "Smart links",
                        "required": true
                    },
                    {
                        "name": "useColumnId",
                        "type": "boolean",
                        "label": "Use Column ID",
                        "required": true
                    },
                    {
                        "name": "table",
                        "type": "select",
                        "label": "Table",
                        "required": true
                    },
                    {
                        "name": "id",
                        "type": "text",
                        "label": "Record ID",
                        "required": true
                    },
                    {
                        "name": "record",
                        "spec": [
                            {
                                "name": "fldGDzy8hXT3g99y2",
                                "type": "text",
                                "label": "title"
                            },
                            {
                                "name": "fld5GJYSAS5f2Ye50",
                                "type": "text",
                                "label": "topic"
                            },
                            {
                                "name": "fldQpVmwgRPdIgv3g",
                                "type": "text",
                                "label": "language"
                            },
                            {
                                "mode": "edit",
                                "name": "fldHsflNn1Waosv2S",
                                "type": "select",
                                "label": "voice"
                            },
                            {
                                "mode": "edit",
                                "name": "fld9GSGWu05Huimb7",
                                "type": "select",
                                "label": "Status"
                            },
                            {
                                "name": "flda9LnKXoKZs2ZLt",
                                "type": "text",
                                "label": "videoURL"
                            }
                        ],
                        "type": "collection",
                        "label": "Record"
                    }
                ],
                "interface": [
                    {
                        "name": "id",
                        "type": "text",
                        "label": "ID"
                    },
                    {
                        "name": "createdTime",
                        "type": "date",
                        "label": "Created Time"
                    },
                    {
                        "name": "title",
                        "type": "text",
                        "label": "title"
                    },
                    {
                        "name": "topic",
                        "type": "text",
                        "label": "topic",
                        "multiline": true
                    },
                    {
                        "name": "language",
                        "type": "text",
                        "label": "language"
                    },
                    {
                        "name": "voice",
                        "type": "text",
                        "label": "voice"
                    },
                    {
                        "name": "Status",
                        "type": "text",
                        "label": "Status"
                    },
                    {
                        "name": "videoURL",
                        "type": "text",
                        "label": "videoURL"
                    },
                    {
                        "name": "modified_at",
                        "type": "date",
                        "label": "modified_at"
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": []
        },
        "zone": "eu1.make.com"
    }
}